.appartment {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  width: 60%;
  margin: 20px 10px;
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);

  &__image {
    width: 100%;
  }
  &__title {
    display: inline-block;
    position: relative;
    width: 60%;
    margin: 10px 10px;
    font-weight: bold;
  }
  &__btn {
    position: absolute;
    left: 66%;
    font-size: 1.6em;
    background: none;
    border: none;
    cursor: pointer;
  }
  &__price {
    font-weight: bold;
  }

  &__mainInfo {
    color: #ee4037;
  }

  &__amenities {
    overflow: hidden;
    width: 95%;
    height: 20px;
    font-size: 0.9em;
  }

  &__bookNowBtn {
    background-color: #ee4037;
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
  }

  &__price,
  &__mainInfo,
  &__amenities,
  &__bookNowBtn {
    margin: 20px 10px;
  }
}

.appartmentUncensored {
  @extend .appartment;
}

.bookNow {
  @extend .appartment;
  position: relative;
  &__deleteBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    cursor: pointer;
  }
  &__price {
    margin: 10px 30px;

    &__bold {
      font-weight: bold;
    }
  }

  &__form {
    margin: 10px 30px;
    &__dateLabelStart,
    &__dateLabelEnd,
    &__guestLabel {
      font-size: 0.8em;
      margin: 5px 0;
    }

    &__dateStart,
    &__dateEnd,
    &__guestInput {
      margin: 5px 0;
      border: 1px solid rgb(151, 151, 151);
      border-radius: 2px;
      padding: 7px 2px;
    }

    &__seeAvailable {
      @extend .appartment__bookNowBtn;
      display: block;
      margin: auto;
      margin: 20px auto;
      font-weight: 500;
    }
  }
}
